In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('OnlineRetail.csv')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
data.info()

In [32]:
# Công ty bán hàng do bao nhiêu nước sản xuất
country_num=data['Country'].unique().size
print(f'Công ty bán hàng do {country_num} nước sản xuất')

# Tổng số lượng đơn hàng bán ra, tổng doanh thu
invoice_total = data['InvoiceNo'].unique().size
data['total'] = data['Quantity']*data['UnitPrice']
total = data['total'].sum()
print(f'Tổng số lượng đơn hàng bán ra là {invoice_total}, tổng doanh thu là {total:2.0f}')

Công ty bán hàng do 38 nước sản xuất
Tổng số lượng đơn hàng bán ra là 25900, tổng doanh thu là 9747748

In [47]:
# Top 10 mặt hàng có số lượng bán ra lớn rất
data.groupby('Description')['Quantity'].sum().sort_values('Quantity',ascending=False).head(10)

ValueError: No axis named Quantity for object type Series

In [41]:
# Top 10 mặt hàng có doanh thu lớn nhất
data.groupby('Description')['total'].sum()

Description
 4 PURPLE FLOCK DINNER CANDLES     290.80
 50'S CHRISTMAS GIFT BAG LARGE    2341.13
 DOLLY GIRL BEAKER                2882.50
 I LOVE LONDON MINI BACKPACK      1628.17
 I LOVE LONDON MINI RUCKSACK         4.15
                                   ...
wrongly marked carton 22804          0.00
wrongly marked. 23343 in box         0.00
wrongly sold (22719) barcode         0.00
wrongly sold as sets                 0.00
wrongly sold sets                    0.00
Name: total, Length: 4223, dtype: float64