In [21]:
import pandas as pd
import numpy as np

data = pd.read_csv('FoodPrice_in_Turkey.csv')
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [7]:
# Giá trung bình của từng loại thực phẩm là bao nhiêu
mean_price = data.groupby(['ProductId','ProductName'])['Price'].mean()
mean_price

ProductId  ProductName
52         Rice - Retail                                               7.950325
58         Wheat flour - Retail                                        3.253174
66         Beans (white) - Retail                                      9.572830
83         Potatoes - Retail                                           2.297231
92         Eggs - Retail                                               0.505925
94         Meat (chicken) - Retail                                     9.683471
97         Sugar - Retail                                              4.482942
105        Garlic - Retail                                            16.610370
108        Lentils - Retail                                            6.651817
112        Pasta - Retail                                              3.496637
114        Tomatoes - Retail                                           3.393658
119        Groundnuts (shelled) - Retail                              21.832122
124        Bread (common) - Retail                                     4.463293
151        Coffee - Retail                                            42.468075
173        Onions - Retail                                             2.141539
176        Tea (green) - Retail                                        4.137000
181        Cabbage - Retail                                            1.723395
183        Meat (mutton) - Retail                                     45.557209
184        Oil (sunflower) - Retail                                    8.755174
185        Salt - Retail                                               2.048213
209        Coffee (instant) - Retail                                  43.295493
212        Peas (green, dry) - Retail                                  2.900029
229        Apples (red) - Retail                                       2.392193
231        Cauliflower - Retail                                        3.274868
233        Cucumbers (greenhouse) - Retail                             2.206807
239        Oil (olive) - Retail                                       27.274547
244        Chickpeas - Retail                                         10.347860
254        Bananas - Retail                                            8.224784
258        Bulgur - Retail                                             3.516712
281        Tea - Retail                                               26.224393
285        Fuel (petrol-gasoline) - Retail                             8.592519
304        Transport (public) - Retail                                 2.468031
317        Tomatoes (paste) - Retail                                   8.085128
341        Fuel (gas) - Retail                                        83.976703
345        Apples - Retail                                             3.885039
360        Oranges - Retail                                            3.124280
364        Yogurt - Retail                                             5.364898
384        Bread (pita) - Retail                                       2.404545
388        Cucumbers - Retail                                          3.411326
401        Fish (fresh) - Retail                                      22.698257
404        Spinach - Retail                                            3.240587
414        Cheese - Retail                                            25.522875
433        Meat (veal) - Retail                                       41.270904
434        Eggplants - Retail                                          3.882645
442        Milk (powder, infant formula) - Retail                    108.287696
450        Zucchini - Retail                                           3.837423
463        Milk (pasteurized) - Retail                                 3.679687
465        Wage (non-qualified labour, non-agricultural) - Retail     40.548182
491        Electricity - Retail                                        0.513580
492        Tea (herbal) - Retail                                       5.434838
493        Water - Retail                                              5.384253
502        Cocoa (powder) - Retail                                    43.802339
Name: Price, dtype: float64

In [23]:
# Đề xuất những loại phân tích mà bạn muốn biết mà bộ dữ liệu này có thể cung cấp

In [3]:
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071